/* /* selector{
  property:value;
} */
/* 
h3 {
  color: brown;
  font-size: 30px;
  font-weight: 600;
}

h3{
  color: gray;
  font-size: 35px;
}

#quotidien {
  font-size: 50px;
}

#particular {
  width: 500px;
  height: auto;
}

.particular{
  width: auto;
  height: auto;
}

img {
  width: 300px;
  height: auto;
}

article > * {
  color: black;
}
article ~ * {
  font-size: 15px;
}

article *, .particular {
  font-size: 15px;
}

body article h3 ~ p {}

* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

/* h1 {
  color: #234523;
  color: #234;
  color: rgb(23, 45, 23);
  color: hue(23, 45, 23);
  color: #23452323;
  color: #2344;
  color: rgba(23, 45, 23, 0.5);
} */
/* @import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap'); */
@font-face {
  font-family: "Lavishly Yours";
  src: url(LavishlyYours-Regular.ttf);
}
body {
  margin: 0;
  background-color: rgb(254, 247, 247);
  padding: 20px;
  padding-bottom: 0;
}
header {
  text-align: center;
  padding: 10px;
}
h1 {
  margin: 5px;
  margin-bottom: 100px;
  border-bottom: 2px solid #234523;
  /* text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: black;
  text-decoration-thickness: 2px; */
  text-decoration: underline wavy black 2px;
  text-shadow: 10px 15px 10px black;
  /* text-emphasis-style: '²';
  text-emphasis-color: black;
  text-emphasis-position: under; */
  text-emphasis: "²" black;
  text-emphasis-position: under;
  text-transform: lowercase;
  word-spacing: 1px;
  letter-spacing: 3px;
  font-family: "Lavishly Yours", Alkatra, Georgia !important;
  line-height: 5;
}
header > p {
  font-weight: bold;
  /* font-size: 20px; */
  font-size: 1em;
  border: 2px solid #234523;
  line-height: 50px;
}
.article_section {
  margin-top: 50px;
}
.article_section article h3 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-family: Alkatra, Geneva, Tahoma, sans-serif;
}
.article_section article img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 0 4px 8px var(--main-color);
}
.article_section article p {
  font-size: 20px;
  font-style: italic;
  text-align: justify;
  text-align-last: justify;
}
.article_section article:first-of-type p {
  white-space: pre-line;
  word-break: break-all;
  line-break: strict;
  hyphens: auto;
}
.article_section article:first-of-type p {
  text-indent: 100px;
}
footer {
  margin: 0;
  padding: 10px;
  background-color: bisque;
  text-align: center;
}
footer p {
  font-size: 15px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
h3[class] {
  color: white;
  background-color: green;
}
img[alt="Found"] {
  border: solid 5px black;
  border-radius: 50%;
}
img[src][alt] {
  border-width: 15px;
}
nav ul li a:hover {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
nav ul li a:active {
  font-size: 25px;
}
nav ul li a:focus {
  border: solid 5px black;
  padding: 5px;
  margin: 10px;
}
nav li {
  /* list-style-type: upper-roman;
  list-style-position: inside;
  list-style-image: url("https://avatars.githubusercontent.com/u/122643"); */
  list-style: url("https://avatars.githubusercontent.com/u/122643") inside
}
.article_section article:nth-child(1) {
  background-color: gray;
}
:focus {
  font-size: 40px;
}
:root {
  --main-color: #234523;
  --secondary-color: #f0f0f0;
  --text-color: #333;
  --font-family: "Courier New", Courier, monospace;
}
:empty {
  border: solid 5px red;
  border-radius: 5px;
}
footer p::before {
  content: "© ";
  color: red;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 5px;
}
footer p::after {
  content: " - All rights reserved.";
  color: blue;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 5px;
}
footer::before {
  /* content: url("https://avatars.githubusercontent.com/u/122643"); */
  content: "\20B9";
  width: 50px;
  border-radius: 50%;
}
.rectangle {
  width: calc(60px + 50vw);
  height: 15vmax;
  background-color: red;
  border: 5px solid black;
  border-radius: 0;
  transition: gray 3s ease-in;
  transform: translate(100px, 100px);
}